.Wrapper {
  position: relative;
  color: var(--black);

  @media (max-width: 767px) {
    position: absolute;
    z-index: 2;
    width: 100%;
  }
}

.Button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  min-width: 150px;
  height: 42px;
  padding: 0 16px;
  font-family: inherit;
  font-size: 1rem;
  color: #000;
  border-radius: 4px;
  box-shadow: var(--drop-shadow);
  transition: var(--transition);

  &:hover {
    background-color: #ddd;
  }

  @media (max-width: 767px) {
    width: 100%;
    box-shadow: none;

    &:hover {
      background-color: #fff;
    }
  }

  img {
    width: 10px;
    transform: rotate(-90deg);
  }
}

.List {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  overflow: hidden;
  list-style-type: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
  box-shadow: var(--drop-shadow);

  @media (max-width: 767px) {
    bottom: 125%;
    width: calc(100vw - 32px);
    margin-top: 0;
  }
}

.ListItem {
  padding: 10px 16px;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
