/* Archive */
.Title {
  margin-bottom: var(--vertical-2);
}

.MonthGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 16px;

  & > a.Month {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    transition: var(--transition);

    @media (min-width: 768px) {
      &:hover {
        transform: translate(0, -4px);
      }

      &:active {
        transform: translate(0, 0);
      }
    }
  }
}

/* ReleaseTypeChooser */
.ReleaseTypeChooser {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: var(--vertical-5);
  margin-bottom: var(--vertical-1);
  list-style: none;

  @media (min-width: 768px) {
    margin-top: 0;
  }

  & > li {
    margin-right: var(--horizontal-4);

    & > button {
      position: relative;
      font-size: 1.4rem;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      opacity: 0.4;
      transition: var(--transition);

      @media (min-width: 768px) {
        font-size: 2.4rem;
      }

      &.active {
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
