.Section {
  margin-bottom: var(--lg-space);

  h2 img {
    filter: invert(1);
  }
}

.ReleasesGrid {
  margin-bottom: var(--md-space);

  &.isLast {
    margin-bottom: 0;
  }

  .Grid {
    & > a {
      height: 220px;
    }
  }
}

.TgButtonWrapper {
  margin-bottom: var(--md-space);

  & > button {
    margin-bottom: var(--xxs-space);
    color: #08c;

    img {
      margin-right: var(--xxs-space);
    }
  }

  @media (min-width: 768px) {
    margin-bottom: var(--lg-space);
  }
}
