.Cover {
  display: none;

  @media (min-width: 1200px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: initial;
    max-width: 100%;
    height: 100vh;

    .Gradient {
      position: relative;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(
        180deg,
        rgba(40, 27, 36, 0) 0%,
        var(--primary) 100%
      );

      img {
        position: relative;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
  }
}

.DesktopCalendar {
  position: relative;
  display: none;
  width: 100%;
  padding-top: 140px;
  border-spacing: 16px;
  border-collapse: separate;
  user-select: none;

  @media (min-width: 1200px) {
    display: table;
  }
}

.DayOfWeek {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  user-select: none;
}

.DayItem {
  position: relative;
  min-width: 46px;
  height: 160px;
  overflow: hidden;
  user-select: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);

  &.isNotWithinRange {
    opacity: 0.25;
  }

  &.someReleases {
    background: transparent;

    .Release {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.hasRelease {
    background: initial;
  }
}

.Date {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 29px;
  color: #fff;
  cursor: default;
  user-select: none;
  border-radius: 50%;

  &.hasRelease {
    background-color: #dc6175;
  }
}

.Releases {
  display: flex;
  width: 100%;
  height: 160px;
}

.Release {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 14px;
}

.Info {
  position: absolute;
  bottom: 8px;
  width: 100%;

  p {
    padding: 0 8px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

    &.Extra {
      margin-bottom: 0;
      font-size: 12px;
      font-style: italic;
      font-weight: normal;
    }
  }
}

.MobileCalendar {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  padding-top: 180px;

  @media (min-width: 769px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 6px;
    padding-top: 100px;

    > li {
      width: calc(33% - 20px);
      margin: 10px;
    }
  }

  @media (min-width: 1200px) {
    display: none;
  }

  > li {
    display: flex;
    height: 200px;
    margin-bottom: 24px;

    .Releases {
      height: 200px;
    }

    .Release {
      height: 200px;
      background-position: 50% 50%;
    }
  }
}

.NotYetFilled {
  min-height: 100vh;
  background-color: #000;

  p {
    max-width: 760px;
    padding-top: 200px;
    margin: 0 auto;
    font-size: 40px;
    color: #fff;
    text-align: center;
  }
}

.PlatformList {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  margin: -4px;
  list-style-type: none;

  li {
    --size: 18px;

    display: flex;
    width: var(--size);
    min-width: var(--size);
    height: var(--size);
    min-height: var(--size);
    margin: 4px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
