:root {
  /* LEGACY DON'T USE THIS */
  --background-color-rgb-values: 11, 11, 11;
  --background-color: rgb(var(--background-color-rgb-values));
  --white-color: #e0e0e0;
  --black-color: #070404;
  --grey-color: #b5b5b5;
  --sans: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --logo-font: Montserrat;
  --page-padding: 16px;
  --page-vertical-padding: 16px;
  --transition: 0.3s;

  @media (min-width: 1024px) {
    --page-padding: 60px;
  }

  @media (min-width: 1440px) {
    --page-padding: 80px;
  }

  --primary: #281b24;
  --secondary: #a6b12e;
  --light-blue: #8bb5f9;
  --blue: #1977f3;
  --blue-hover: #2c82f4;
  --blue-active: #0f71f2;
  --pink: #dc6175;
  --kinopoisk: #f60;
  --imdb: #f5c518;
  --black: #0f0f0f;
  --primary-text: #f9f9f9;
  --secondary-text: #b5b5b5;
  --bg-rgb: 10, 10, 10;
  --transition: 0.25s;
  --drop-shadow: 0 2px 8px rgba(244, 244, 244, 0.15);
  --tablet: 768px;
  --desktop: 1200px;
  --desktop-2k: 1920px;
  --footer-height: 124px;
  --animation-time: 0.25s;
  --vertical-1: 48px;
  --vertical-2: 40px;
  --vertical-3: 32px;
  --vertical-4: 24px;
  --vertical-5: 16px;
  --vertical-6: 8px;
  --horizontal-1: 80px;
  --horizontal-2: 40px;
  --horizontal-3: 32px;
  --horizontal-4: 12px;
  --horizontal-5: 8px;
  --horizontal-6: 4px;
  --amediateka: #191a1d;
  --ivi: #f8104d;
  --kinopoisk-hd: #333;
  --netflix: #141414;
  --okko: #1a082c;

  /* ACTUAL */
  /* COLORS */
  --white-color: hsl(0, 0%, 96%);
  --black-color: hsl(0, 0%, 4%);
  --grey-color: hsl(0, 0%, 68%);
  --lighter-grey-color: hsl(0, 0%, 98%);
  --light-grey-color: hsl(0, 0%, 91%);
  --dark-grey-color: hsl(0, 0%, 58%);
  --red-color: hsl(354, 100%, 65%);
  --primary-color: hsl(214, 90%, 53%);
  --primary-lighter-color: hsl(214, 90%, 70%);
  --primary-light-color: hsl(214, 90%, 60%);
  --primary-dark-color: hsl(214, 90%, 45%);
  --secondary-color: hsl(0, 0%, 77%);
  --secondary-lighter-color: hsl(0, 0%, 90%);
  --secondary-light-color: hsl(0, 0%, 82%);
  --secondary-dark-color: hsl(0, 0%, 65%);
  --bg-color: hsl(0, 0%, 4%);
  --primary-text-color: hsl(0, 0%, 96%);
  --secondary-text-color: hsl(0, 0%, 10%);
  --glitch-purple-color: hsl(315, 100%, 50%);
  --glitch-cyan-color: hsl(179, 100%, 50%);
  --kinopoisk-color: hsl(24, 100%, 50%);
  --imdb-color: hsl(47, 92%, 53%);
  --amediateka-color: hsl(225, 7%, 11%);
  --ivi-color: hsl(344, 94%, 52%);
  --kinopoisk-hd-color: hsl(0, 0%, 20%);
  --netflix-color: hsl(0, 0%, 8%);
  --okko-color: hsl(270, 69%, 10%);
  --playstation-color: hsl(219, 100%, 26%);
  --xbox-color: hsl(112, 45%, 48%);
  --pc-color: hsl(0, 0%, 0%);
  --nintendo-switch-color: hsl(355, 100%, 45%);

  /* FONTS */
  --primary-font: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --secondary-font: Merriweather, serif;
  --logo-font: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;

  /* FONT WEIGHTS */
  --thin: 200;
  --regular: 400;
  --medium: 600;
  --bold: 700;
  --extra-bold: 800;

  /* FONT SIZES */
  --base-fz: 16px;
  --xxs-fz: 0.75rem;
  --xs-fz: 0.875rem;
  --sm-fz: 1rem;
  --md-fz: 1.25rem;
  --xl-fz: 2.25rem;
  --xxl-fz: 3rem;

  /* SPACES */
  --mobile-page-spaceX: 16px;
  --xxs-space: 4px;
  --xs-space: 8px;
  --sm-space: 12px;
  --md-space: 20px;
  --lg-space: 32px;
  --xl-space: 52px;
  --xxl-space: 84px;

  font-size: var(--base-fz);
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--sans);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primary-text-color);
  scroll-behavior: smooth;
  font-variant-numeric: tabular-nums;
  direction: ltr;
  font-feature-settings: 'kern';
  background-color: var(--bg-color);
}

#__next {
  overflow-x: hidden;
}

#page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  width: 100vw;
  min-height: 100vh;

  & > main {
    padding: var(--page-vertical-padding) var(--page-padding);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.625rem 0;
  color: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.125;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
}

h6 {
  font-size: 0.875rem;
  font-weight: 600;
}

p,
small {
  font-family: var(--sans);
  font-weight: 400;
  color: inherit;
}

p {
  max-width: 768px;
  margin: 1rem 0;
  font-size: 1em;
  line-height: 1.625rem;
}

b {
  font-weight: 600;
}

small {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
}

span {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-touch-callout: none;
}

ul {
  list-style-type: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input,
textarea:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid,
:not(output):-moz-ui-invalid:-moz-focusring {
  box-shadow: none !important;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
