.Cover {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  display: none;
  width: 50%;
  user-select: none;

  * {
    user-select: none;
  }

  @media (min-width: 1200px) {
    display: block;
  }

  .Gradient {
    --height: 550px;
    --to-transparent: rgba(40, 27, 36, 0);

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: var(--height);
    background: linear-gradient(
        90deg,
        rgb(var(--bg-rgb)) 0%,
        var(--to-transparent) 100%
      ),
      linear-gradient(0deg, rgb(var(--bg-rgb)) 0%, var(--to-transparent) 100%);

    img {
      position: relative;
      z-index: -1;
      width: 100%;
      height: var(--height);
      object-fit: cover;
    }
  }
}

.DesktopCalendar {
  position: relative;
  display: none;
  user-select: none;

  @media (width >= 1200px) {
    display: block;
  }
}

.DayItem {
  position: relative;
  user-select: none;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 14px;
  box-shadow: 0 2px 20px 0 rgba(255, 255, 255, 0.01);
  will-change: opacity;

  &.isNotWithinRange {
    opacity: 0.25;
  }

  &.someReleases {
    background: transparent;
  }

  &.hasRelease {
    background: initial;

    .Date {
      font-weight: 500;
      color: #000;
      background-color: #fff;

      &.isToday {
        font-weight: 500;
        color: #fff;
        background-color: var(--blue);
      }
    }
  }
}

.Date {
  --size: 30px;
  --offset: 8px;

  position: absolute;
  top: var(--offset);
  left: var(--offset);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  font-size: 14px;
  user-select: none;
  border-radius: 50%;

  &.isToday {
    font-weight: 500;
    background-color: var(--blue);
  }
}

.NotYetFilled {
  min-height: 100vh;

  p {
    max-width: 760px;
    padding-top: 10vh;
    margin: 0 auto;
    font-size: 2.5rem;
    line-height: 1.56;
    text-align: center;
  }
}

.DayOfWeek {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 16px;
  justify-items: center;
  margin-bottom: var(--vertical-5);
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  text-transform: lowercase;
  letter-spacing: 1px;
  user-select: none;
}

.Calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(140px, auto);
  grid-gap: 16px;

  @media (width >= 2200px) {
    grid-auto-rows: minmax(220px, auto);
  }
}
