.Cover {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  width: 50%;
  user-select: none;

  * {
    user-select: none;
  }

  .Gradient {
    --height: 550px;
    --to-transparent: rgba(40, 27, 36, 0);

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: var(--height);
    background: linear-gradient(90deg, rgb(var(--bg-rgb)) 0%, var(--to-transparent) 100%),
      linear-gradient(0deg, rgb(var(--bg-rgb)) 0%, var(--to-transparent) 100%);

    img {
      position: relative;
      z-index: -1;
      display: none;
      width: 100%;
      height: var(--height);
      object-fit: cover;

      @media (min-width: 1200px) {
        display: block;
      }
    }
  }
}

.DesktopCalendar {
  position: relative;
  display: none;
  width: 100%;
  padding-top: 280px;
  border-spacing: 16px;
  border-collapse: separate;
  user-select: none;

  @media (min-width: 1200px) {
    display: table;
  }
}

.DayOfWeek {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  user-select: none;
}

.DayItem {
  --height: 160px;

  position: relative;
  min-width: 46px;
  height: var(--height);
  user-select: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  will-change: opacity;

  @media (min-width: 1920px) {
    --height: 250px;
  }

  &.isNotWithinRange {
    opacity: 0.25;
  }

  &.someReleases {
    background: transparent;
  }

  &.hasRelease {
    background: initial;
  }
}

.Date {
  --size: 30px;
  --offset: 8px;

  position: absolute;
  top: var(--offset);
  left: var(--offset);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  font-size: 14px;
  line-height: var(--size);
  color: #fff;
  user-select: none;
  border-radius: 50%;

  &.hasRelease {
    background-color: var(--pink);
  }

  &.isToday {
    background-color: var(--blue);
  }
}

.NotYetFilled {
  min-height: 100vh;
  background-color: #000;

  p {
    max-width: 760px;
    padding-top: 200px;
    margin: 0 auto;
    font-size: 40px;
    color: #fff;
    text-align: center;
  }
}
