.Cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.05;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: blur(1px);

    @media (min-width: 768px) {
      filter: blur(5px);
    }
  }
}

.Center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Form {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;

  a {
    text-decoration: underline;
  }

  .Input {
    margin-bottom: var(--vertical-4);
  }
}
