.Content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  color: #fff;

  @media (width >= 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .Title {
    margin-bottom: 32px;
    font-size: 42px;
    line-height: 1.2;
    user-select: text;

    @media (width <= 576px) {
      margin-bottom: 24px;
      font-size: 24px;
    }

    @media (width >= 768px) {
      font-size: 48px;
    }
  }
}

.About {
  padding: 32px 16px;

  @media (width >= 768px) {
    padding: 42px 24px;
  }

  @media (width >= 1200px) {
    max-width: 650px;
  }
}

.Cover {
  --gradient-rgb: 15, 14, 18;

  position: relative;
  order: -1;
  height: 25vh;
  background: linear-gradient(
    0deg,
    rgb(var(--gradient-rgb)) 0%,
    rgba(var(--gradient-rgb), 0.94) 7.25%,
    rgba(var(--gradient-rgb), 0.86) 12.45%,
    rgba(var(--gradient-rgb), 0.78) 16.48%,
    rgba(var(--gradient-rgb), 0.09) 40.26%,
    rgba(var(--gradient-rgb), 0.04) 44%,
    rgba(var(--gradient-rgb), 0) 52%
  );

  @media (width >= 1200px) {
    position: absolute;
    right: 0;
    width: 45%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgb(var(--gradient-rgb)) 0%,
      rgba(var(--gradient-rgb), 0.94) 7.25%,
      rgba(var(--gradient-rgb), 0.86) 12.45%,
      rgba(var(--gradient-rgb), 0.78) 16.48%,
      rgba(var(--gradient-rgb), 0.09) 40.26%,
      rgba(var(--gradient-rgb), 0.04) 44%,
      rgba(var(--gradient-rgb), 0) 52%
    );
  }

  img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  span {
    color: #999;
  }
}

.Desc {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.4;

  @media (width >= 768px) and (width <= 1200px) {
    font-size: 28px;
  }
}

.PlatformList {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  margin: -4px;
  list-style-type: none;

  li {
    --size: 18px;

    display: flex;
    width: var(--size);
    min-width: var(--size);
    height: var(--size);
    min-height: var(--size);
    margin: 4px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.Sharing {
  display: flex;
  align-items: center;
  margin-top: 28px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: 12px;
    opacity: 0.85;

    &:hover {
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.Buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 28px;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
  border-radius: 4px;
  box-shadow: var(--drop-shadow);

  @media (min-width: 768px) {
    width: 220px;
  }

  &.Kinopoisk {
    margin-bottom: 12px;
    background-color: var(--kinopoisk);

    img {
      width: 50%;
    }
  }

  &.Imdb {
    background-color: var(--imdb);
  }
}
