.Button {
  display: flex;
  width: 42px;
  height: 28px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(255, 153, 102), rgb(255, 94, 98));
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.95);
  transition: box-shadow 250ms, transition 300ms ease-in-out;

  &:hover {
    background: rgb(255, 153, 102);
  }

  &:active {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
    transform: translateY(1px);
  }
}
