.MonthChooser {
  display: flex;

  > * {
    padding: 12px 16px 12px 0;
    margin-right: var(--horizontal-6);

    @media (width >= 768px) {
      padding: 0;
      margin-right: var(--horizontal-4);
    }
  }

  div {
    cursor: default;
    user-select: none;
  }

  a {
    color: var(--secondary-text);

    &:hover {
      color: var(--primary-text);
    }
  }
}
