.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--vertical-5) var(--page-padding);
  padding-bottom: var(--vertical-1);

  a {
    display: flex;
  }

  img {
    height: 28px;
    margin-right: var(--horizontal-5);
  }
}

.About {
  display: flex;
  align-items: center;
}

.Projects {
  display: flex;
  align-items: center;

  a {
    --size: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);

    img {
      width: 100%;
      height: 100%;
    }
  }

  span {
    margin: 0 14px;
  }
}

.Socials {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  img {
    width: 28px;
    height: 28px;
  }
}
