.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--vertical-5) var(--page-padding);
  padding-bottom: var(--vertical-1);

  & > .copyright {
    display: flex;
    align-items: center;

    & > a {
      display: flex;

      & > img {
        --size: 28px;

        width: var(--size);
        height: var(--size);
        margin-right: var(--horizontal-5);
      }
    }
  }
}
