.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 16px;
  background-color: rgba(15, 32, 39, 1);

  @media (max-width: 560px) {
    flex-direction: column;
    height: auto;
    padding: 16px;
  }
}

.Copyright {
  color: #fff;

  a {
    color: inherit;
  }
}

.Socials {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-right: 24px;

    @media (max-width: 560px) {
      margin-top: 12px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  img {
    width: 28px;
    height: 28px;
  }
}
