.Footer {
  padding: 0 16px;
  margin-top: 60px;
  margin-bottom: 16px;

  @media (width >= 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.Copyright {
  max-width: 260px;
  margin-bottom: 16px;
  color: #fff;

  a {
    display: block;
    margin-top: 4px;
    color: inherit;
    text-decoration: underline;
  }
}

.Socials {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  img {
    width: 28px;
    height: 28px;
  }
}
