.Wrapper {
  display: grid;
  grid-template-columns: 100%;
  width: 100vw;
  min-height: 100vh;

  > main {
    padding: var(--page-vertical-padding) var(--page-padding);

    @media (width < 768px) {
      --header-height: 44px;

      padding-top: calc(var(--page-padding) + var(--header-height));
    }
  }
}
