.Title {
  margin-bottom: var(--vertical-1);
}

.Desc {
  margin-bottom: var(--vertical-4);
}

.Field {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-bottom: var(--vertical-5);

  label {
    margin-bottom: var(--vertical-6);
  }

  input {
    -webkit-appearance: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    height: 2.5em;
    padding-top: calc(0.5em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--black);
    vertical-align: top;
    background-color: #fff;
    border: 1px solid transparent !important;
    border-color: #dbdbdb;
    border-radius: 4px !important;
    outline: none;
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);

    &:active,
    &:focus {
      border-color: #3273dc !important;
      box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
    }

    &:hover {
      border-color: #b5b5b5 !important;
    }
  }
}

.Button {
  margin: 0 !important;
  margin-bottom: var(--vertical-6) !important;
}

.Privacy {
  font-size: 0.625rem;
}
