.Content {
  padding-top: 198px !important;

  @media (min-width: 768px) {
    padding-top: 120px !important;
  }
}

.Cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 260px;
  background: linear-gradient(
    0deg,
    rgb(var(--gradient-rgb)) 0%,
    rgba(var(--gradient-rgb), 0.94) 7.25%,
    rgba(var(--gradient-rgb), 0.86) 12.45%,
    rgba(var(--gradient-rgb), 0.78) 16.48%,
    rgba(var(--gradient-rgb), 0.09) 40.26%,
    rgba(var(--gradient-rgb), 0.04) 44%,
    rgba(var(--gradient-rgb), 0) 52%
  );
  opacity: 0.81;

  @media (width >= 768px) {
    height: 100%;
    background: unset;
    opacity: 0.19;
  }

  img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (width >= 768px) {
      filter: blur(8px);
    }
  }
}

.Gradient {
  --gradient-rgb: 0, 0, 0;

  position: absolute;
  width: 100%;
  height: 260px;
  background: linear-gradient(
    0deg,
    rgb(var(--gradient-rgb)) 0%,
    rgba(var(--gradient-rgb), 0.94) 7.25%,
    rgba(var(--gradient-rgb), 0.86) 12.45%,
    rgba(var(--gradient-rgb), 0.78) 16.48%,
    rgba(var(--gradient-rgb), 0.09) 40.26%,
    rgba(var(--gradient-rgb), 0.04) 44%,
    rgba(var(--gradient-rgb), 0) 52%
  );

  @media (width >= 768px) {
    display: none;
  }
}

.Title {
  margin-bottom: var(--vertical-6);
}

.OriginalTitle {
  margin-bottom: var(--vertical-5);
}

.Description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: var(--vertical-2);

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .Trailer {
    flex: 1;

    .aspectRatio {
      position: relative;
      width: 100%;
      padding-top: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 12px;
      }
    }
  }

  .Data {
    flex: 1;
    margin-right: 0;

    @media (min-width: 768px) {
      margin-right: var(--horizontal-2);
    }

    @media (min-width: 1024px) {
      margin-right: var(--horizontal-1);
    }

    header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 24px;
      margin-bottom: var(--vertical-1);

      > div {
        display: flex;
        align-items: center;
        margin-right: var(--horizontal-4);
        font-size: 1rem;
        line-height: 22px;
        letter-spacing: 0.08em;

        @media (width >= 768px) {
          font-size: 1.125rem;
        }

        img {
          width: 24px;
        }
      }
    }

    .Text {
      max-width: 768px;
      margin-bottom: var(--vertical-2);
    }
  }
}

.WatchTrailer {
  margin-bottom: var(--vertical-6);

  @media (width >= 768px) {
    display: none !important;
  }
}

.Footer {
  background-color: #000 !important;
}

.Breadcrumbs {
  margin-top: 190px;
  margin-bottom: var(--vertical-4);
  overflow: hidden;
  color: var(--secondary-text);
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (width >= 768px) {
    margin-top: 0;
  }

  a:hover {
    color: var(--primary-text);
  }

  p {
    display: inline;
    margin: 0;
  }
}
