.Content {
  padding-top: 198px !important;

  @media (min-width: 768px) {
    padding-top: 120px !important;
  }
}

.Cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 260px;
  background: linear-gradient(
    0deg,
    rgb(var(--gradient-rgb)) 0%,
    rgba(var(--gradient-rgb), 0.94) 7.25%,
    rgba(var(--gradient-rgb), 0.86) 12.45%,
    rgba(var(--gradient-rgb), 0.78) 16.48%,
    rgba(var(--gradient-rgb), 0.09) 40.26%,
    rgba(var(--gradient-rgb), 0.04) 44%,
    rgba(var(--gradient-rgb), 0) 52%
  );
  opacity: 0.81;

  @media (width >= 768px) {
    height: 100%;
    background: unset;
    opacity: 0.19;
  }

  img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (width >= 768px) {
      filter: blur(8px);
    }
  }
}

.Gradient {
  --gradient-rgb: 0, 0, 0;

  position: absolute;
  width: 100%;
  height: 260px;
  background: linear-gradient(
    0deg,
    rgb(var(--gradient-rgb)) 0%,
    rgba(var(--gradient-rgb), 0.94) 7.25%,
    rgba(var(--gradient-rgb), 0.86) 12.45%,
    rgba(var(--gradient-rgb), 0.78) 16.48%,
    rgba(var(--gradient-rgb), 0.09) 40.26%,
    rgba(var(--gradient-rgb), 0.04) 44%,
    rgba(var(--gradient-rgb), 0) 52%
  );

  @media (width >= 768px) {
    display: none;
  }
}

.Title {
  margin-bottom: var(--vertical-6);
}

.Description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: var(--vertical-2);

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .Trailer {
    flex: 1;

    .aspectRatio {
      position: relative;
      width: 100%;
      padding-top: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 12px;
      }
    }
  }

  .Data {
    flex: 1;
    margin-right: 0;

    @media (min-width: 768px) {
      margin-right: var(--horizontal-2);
    }

    @media (min-width: 1024px) {
      margin-right: var(--horizontal-1);
    }

    header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 24px;
      margin-bottom: var(--vertical-4);

      > div {
        display: flex;
        align-items: center;
        margin-right: var(--horizontal-4);
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.05em;

        img {
          width: 24px;
        }
      }
    }

    .Text {
      max-width: 768px;
      margin-bottom: var(--vertical-2);
    }

    .Meta {
      display: flex;
      align-items: center;
      margin-bottom: var(--vertical-6);

      .Label {
        margin-right: var(--horizontal-4);
        color: var(--primary-text);
      }
    }
  }
}

.Info {
  width: 100%;
  padding: 0 16px;
  padding-top: 300px;

  @media (width >= 768px) {
    max-width: 688px;
    padding: 0;
    padding-top: 120px;
    margin: 0 auto;
  }

  @media (width >= 1200px) {
    max-width: 1120px;
  }
}

.PlatformList {
  margin: 0 !important;
}

.Sharing {
  margin-bottom: var(--vertical-4);

  > p {
    margin-bottom: var(--vertical-6);
    color: var(--secondary-text);
  }

  > div {
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: var(--horizontal-4);
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.FilmButtons {
  margin-bottom: var(--vertical-4);

  p {
    margin-bottom: var(--vertical-6);
    color: var(--secondary-text);
  }

  .Kinopoisk {
    margin-right: var(--horizontal-4);
    background-color: var(--kinopoisk);

    img {
      filter: invert(1);
    }
  }

  .Imdb {
    background-color: var(--imdb);
  }
}

.Footer {
  background-color: #000 !important;
}

.StoreButtons {
  margin-bottom: calc(var(--vertical-2) - var(--horizontal-6));

  > p {
    margin-bottom: var(--vertical-6);
    color: var(--secondary-text);
  }

  .Stores {
    margin: calc(var(--horizontal-6) * -1);

    .StoreButton {
      height: inherit;
      margin: var(--horizontal-6);

      img {
        height: 24px;
        margin-right: var(--horizontal-5);
      }

      span {
        font-weight: 700;
      }
    }
  }
}

.StreamingServicesButtons {
  margin-bottom: calc(var(--vertical-2) - var(--horizontal-6));

  > p {
    margin-bottom: var(--vertical-6);
    color: var(--secondary-text);
  }

  .StreamingServices {
    margin: calc(var(--horizontal-6) * -1);

    .StreamingServicesButton {
      margin: var(--horizontal-6);

      &.Amediateka {
        background-color: var(--amediateka);
      }

      &.Ivi {
        background-color: var(--ivi);
      }

      &.KinopoiskHD {
        background-color: var(--kinopoisk-hd);
      }

      &.Netflix {
        background-color: var(--netflix);
      }

      &.Okko {
        background-color: var(--okko);
      }

      img {
        height: 24px;
      }
    }
  }
}

.Breadcrumbs {
  margin-bottom: var(--vertical-4);
  color: var(--secondary-text);

  a:hover {
    color: var(--primary-text);
  }
}
